<div data-role="page" id="pros">
	<div data-role="navbar" data-iconpos="right" style="background-color:#303030;">
		<ul>
			<li><%= link_to "Home", ts_path, {"data-role"=>"button", "data-mini"=>"true", "data-icon"=>"home", "data-theme"=>"a"}%></li>
			<li><a href="#votingviewpros" data-role="button", data-icon="gear", data-theme="a", data-mini="true", style="color: #ffd700;"> Vote! </a></li>
			<li><%= link_to "Quiz!", showquestion_reason_path(@reason), {"data-ajax"=>"false", "data-role"=>"button", "data-mini"=>"true", "data-icon"=>"check", "data-theme"=>"a"}%></li>
		</ul>
	</div>

	<ul data-role="listview" data-split-icon="info" data-split-theme="c">
		<li>
			<a href="#"><p style="margin: 0 -3.3em -0.5em -0.8em; text-align: center; line-height:135%; font-size: 0.95em; font-weight: bold; white-space: normal;"><%= @topic.title %></p></a>
			<%= link_to "Topic Description", description_t_path(@topic), {"data-icon"=>"info", "data-iconpos"=>"notext", "data-theme"=>"e", "data-transition"=>"slidedown", "class"=>"ui-btn-right" }%>
		</li>
	</ul>
	
	<div class="ui-grid-a">
		<div class="ui-block-a">
			<div style="margin: 0 -3.5em 0 0"><a href="#" data-role="button", data-icon="arrow-d", data-theme="b", data-iconpos="right", data-mini="true"> Pros </a></div>
		</div>
		<div class="ui-block-b">
			<div style="margin: 0 0 0 3.5em"><a href="#cons" data-role="button", data-theme="c", data-mini="true", data-transition="flip"> Cons </a></div>
		</div>
	</div>

	<div data-role="content">
		<ul data-role="listview">
			<% @pros.each do |i|%>
				<li>
					<%= link_to(i, :style=>"white-space: normal; margin: 0 -1.6em 0 -0.8em; font-size: 0.8em;") do %> <%= i.title %>
						<span class="ui-li-count"><%=i.score%></span>
					<% end %>
				</li>
			<% end %>
		</ul>
	</div>
</div>

<div data-role="page" id="cons">
	<div data-role="navbar" data-iconpos="left" style="background-color:#303030">
		<ul>
			<li><%= link_to "Home", ts_path, {"data-role"=>"button", "data-mini"=>"true", "data-icon"=>"home", "data-theme"=>"a"}%></li>
			<li><a href="#votingviewcons" data-role="button", data-icon="gear", data-theme="a", data-mini="true", style="color: #ffd700;"> Vote! </a></li>
			<li><%= link_to "Quiz!", showquestion_reason_path(@reason), {"data-ajax"=>"false", "data-role"=>"button", "data-mini"=>"true", "data-icon"=>"check", "data-theme"=>"a"}%></li>
		</ul>
	</div>

	<ul data-role="listview" data-split-icon="info" data-split-theme="c">
		<li>
			<a href="#"><p style="margin: 0 -3.3em -0.5em -0.8em; text-align: center; line-height:135%; font-size: 0.95em; font-weight: bold; white-space: normal;"><%= @topic.title %></p></a>
			<%= link_to "Topic Description", description_t_path(@topic), {"data-icon"=>"info", "data-iconpos"=>"notext", "data-theme"=>"e", "data-transition"=>"slidedown", "class"=>"ui-btn-right" }%>
		</li>
	</ul>
	
	<div class="ui-grid-a">
		<div class="ui-block-a">
			<div style="margin: 0 3.5em 0 0"><a href="#pros" data-role="button", data-theme="c", data-mini="true", data-transition="flip"> Pros </a></div>
		</div>
		<div class="ui-block-b">
			<div style="margin: 0 0 0 -3.5em"><a href="#" data-role="button", data-icon="arrow-d", data-theme="b", data-iconpos="left", data-mini="true"> Cons </a></div>
		</div>
	</div>

	<div data-role="content">
		<ul data-role="listview">
			<% @cons.each do |i|%>
				<li>
					<%= link_to(i, :style=>"white-space: normal; margin: 0 -1.6em 0 -0.8em; font-size: 0.8em;") do %> <%= i.title %>
						<span class="ui-li-count"><%=i.score%></span>
					<% end %>
				</li>
			<% end %>
		</ul>
	</div>
</div>

<div data-role="page" id="votingviewpros">
	<%= link_to("Finished Voting", "#pros", "data-role" => "button", "data-icon"=>"back", "data-iconpos"=>"left", "data-theme"=>"e", "data-mini"=>"true")%>

	<div class="ui-grid-a">
		<div class="ui-block-a"><a href="#" data-role="button", data-icon="arrow-d", data-theme="b", data-iconpos="right", data-mini="true"> Pros </a></div>
		<div class="ui-block-b"><a href="#cons" data-role="button", data-theme="c", data-transition="flip", data-mini="true"> Cons </a></div>
	</div>

	<div data-role="content">
		<ul data-role="listview">
			<% @pros.each do |i|%>
				<li>
					<%= link_to(i, :style=>"white-space: normal; margin: 0 0em -0.7em -0.8em; font-size: 0.9em;") do %>
						<%= i.title %>
						<span class="ui-li-count", style="font-size: 1.4em"><%=i.score%></span>
					<% end %>
				</li>
				<div class="ui-grid-c", style="margin: -0.4em 0 0.5em 0;">
					<div class="ui-block-a"></div>
					<div class="ui-block-b">
						<%= link_to "+", upvote_reason_path(i), {"data-role"=>"button", "style"=>"color: #198219"}%>
					</div>
					<div class="ui-block-c">
						<%= link_to '&#8722;'.html_safe, downvote_reason_path(i), {"data-role"=>"button", "style"=>"color: #e60000"}%>
					</div>
				</div>
			<% end %>		
		</ul>
	</div>
</div>

<div data-role="page" id="votingviewcons">
	<%= link_to("Finished Voting", "#pros", "data-role" => "button", "data-icon"=>"back", "data-iconpos"=>"left", "data-theme"=>"e", "data-mini"=>"true")%>

	<div class="ui-grid-a">
		<div class="ui-block-a"><a href="#pros" data-role="button", data-theme="c", data-transition="flip", data-mini="true"> Pros </a></div>
		<div class="ui-block-b"><a href="#" data-role="button", data-icon="arrow-d", data-theme="b", data-iconpos="left", data-mini="true"> Cons </a></div>
	</div>

	<div data-role="content">
		<ul data-role="listview">
			<% @cons.each do |i|%>
				<li>
					<%= link_to(i, :style=>"white-space: normal; margin: 0 0em -0.7em -0.8em; font-size: 0.9em;") do %>
						<%= i.title %>
						<span class="ui-li-count", style="font-size: 1.4em"><%=i.score%></span>
					<% end %>
				</li>
				<div class="ui-grid-c", style="margin: -0.4em 0 0.5em 0;">
					<div class="ui-block-a"></div>
					<div class="ui-block-b">
						<%= link_to "+", upvote_reason_path(i), {"data-role"=>"button", "style"=>"color: #198219"}%>
					</div>
					<div class="ui-block-c">
						<%= link_to '&#8722;'.html_safe, downvote_reason_path(i), {"data-role"=>"button", "style"=>"color: #e60000"}%>
					</div>
				</div>
			<% end %>		
		</ul>
	</div>
</div>