<div data-role="page" id="pros">
	<div data-role="navbar" data-iconpos="left" style="background-color:#303030">
		<ul>
			<li><%= link_to "Quiz!", showquestion_reason_path(@reason), {"data-ajax"=>"false", "data-role"=>"button", "data-mini"=>"true", "data-icon"=>"check", "data-theme"=>"a"}%></li>
			<li><%= link_to "Home", ts_path, {"data-role"=>"button", "data-mini"=>"true", "data-icon"=>"home", "data-theme"=>"a"}%></li>
			<li><%= link_to "Edit", @topic, {"data-role"=>"button", "data-mini"=>"true", "data-icon"=>"gear", "data-theme"=>"a"}%></li>
		</ul>
	</div>

	<div data-role="header" data-theme="c" style="white-space: normal; min-height: 1em;
		padding: 0.5em 0.3em 0.3em 0.3em">	
		<p style="margin: 0 1.7em 0 -0.2em; text-align: center; line-height:135%;"><%= @topic.title %></p>
		<%= link_to "Topic Description", description_t_path(@topic), {"data-icon"=>"info", "data-iconpos"=>"notext", "data-theme"=>"d", "data-transition"=>"slidedown", "class"=>"ui-btn-right"}%>
	</div>
	
	<div class="ui-grid-a">
		<div class="ui-block-a"><a href="#" data-role="button", data-mini="true", data-icon="arrow-d", data-theme="b", data-iconpos="right"> Pros </a></div>
		<div class="ui-block-b"><a href="#cons" data-role="button", data-mini="true", data-theme="c", data-transition="flip"> Cons </a></div>
	</div>

	<div data-role="content">
		<ul data-role="listview">
			<% @pros.each do |i|%>
				<li><a href="index.html" style="white-space: normal; margin: 0 -0.9em 0 -0.8em; font-size: 0.9em;"><%= i.title %> <span class="ui-li-count"><%=i.score%></span></a></li>
			<% end %>
		</ul>
	</div>
</div>

<div data-role="page" id="cons">
	<div data-role="navbar" data-iconpos="left" style="background-color:#303030">
		<ul>
			<li><%= link_to "Quiz!", showquestion_reason_path(@reason), {"data-ajax"=>"false", "data-role"=>"button", "data-mini"=>"true", "data-icon"=>"check", "data-theme"=>"a"}%></li>
			<li><%= link_to "Home", ts_path, {"data-role"=>"button", "data-mini"=>"true", "data-icon"=>"home", "data-theme"=>"a"}%></li>
			<li><%= link_to "Edit", @topic, {"data-role"=>"button", "data-mini"=>"true", "data-icon"=>"gear", "data-theme"=>"a"}%></li>
		</ul>
	</div>

	<div data-role="header" data-theme="c" style="white-space: normal; min-height: 1em;
		padding: 0.5em 0.3em 0.3em 0.3em">	
		<p style="margin: 0 1.7em 0 -0.2em; text-align: center; line-height:135%;"><%= @topic.title %></p>
		<a href="index.html" data-icon="info" data-iconpos="notext" data-theme="d" class="ui-btn-right">Topic Description</a>
	</div>
	
	<div class="ui-grid-a">
		<div class="ui-block-a"><a href="#pros" data-role="button", data-mini="true" data-theme="c", data-transition="flip"> Pros </a></div>
		<div class="ui-block-b"><a href="#" data-role="button", data-mini="true", data-icon="arrow-d", data-theme="b", data-iconpos="left"> Cons </a></div>
	</div>

	<div data-role="content">
		<ul data-role="listview">
			<% @cons.each do |i|%>
				<li><a href="index.html" style="white-space: normal; margin: 0 -0.9em 0 -0.8em; font-size: 0.9em;"><%= i.title %> <span class="ui-li-count"><%=i.score%></span></a></li>
			<% end %>
		</ul>
	</div>
</div>