<%= link_to("Finished Voting", @topic, "data-role" => "button", "data-icon"=>"back", "data-iconpos"=>"left", "data-theme"=>"e", "data-mini"=>"true", "data-ajax"=>"false")%>

<div class="ui-grid-a">
	<div class="ui-block-a">
		<%= link_to("Pros", votepros_t_path(@topic), "data-role" => "button")%>
	</div>
	<div class="ui-block-b">
		<%= link_to("Cons", "#", "data-role" => "button", "data-icon"=>"arrow-d", "data-iconpos"=>"left", "data-theme"=>"b")%>
	</div>
</div>

<div data-role="content">
	<ul data-role="listview">
		<% @cons.each do |i|%>
			<li>
				<%= link_to(i, :style=>"white-space: normal; margin: 0 -0.9em 0 -0.8em; font-size: 0.9em;") do %>
					<%= i.title %>
					<span class="ui-li-count", style="font-size: 1.4em"><%=i.score%></span>
				<% end %>
			</li>
			<div class="ui-grid-c", style="margin: 0.2em 0 0.5em 0;">
				<div class="ui-block-a"></div>
				<div class="ui-block-b">
					<%= link_to "+", upvote_reason_path(i), {"data-role"=>"button", "style"=>"color: #198219"}%>
				</div>
				<div class="ui-block-c">
					<%= link_to '&#8722;'.html_safe, downvote_reason_path(i), {"data-role"=>"button", "style"=>"color: #e60000"}%>
				</div>
			</div>
		<% end %>		
	</ul>
</div>